@tailwind base;
@tailwind components;
@tailwind utilities;

.square-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Adjust the size of the square */
    height: 50px; /* Adjust the size of the square */
    border: 2px solid black; /* Border style */
    border-radius: 5px; /* Rounded corners if desired */
  }

.square_pass_unlocked {
  width: 150px;
  /* Set the width of each square */
  height: 80px;
  /* Set the height of each square */
  background-color: #6aebff;
  /* Set the background color of each square */
  border-radius: 8px;
  /* Add border-radius for rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
}

.square_pass_locked {
  width: 150px;
  /* Set the width of each square */
  height: 80px;
  /* Set the height of each square */
  background-color: #e1e9ea;
  /* Set the background color of each square */
  border-radius: 8px;
  /* Add border-radius for rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
}